<br><br>
<div *ngIf="!candidate">
     No valid object
</div>

<form [formGroup]="registerForm" 
     (ngSubmit)="registerForm.valid && savewithattachments()" 
     autocomplete="off"
     >
     <hr>
     <div class="stdd col-6 mt-1" style="border-style: groove;">
          <input type="text" style="visibility: hidden; width: 10px;" formControlName="id" class="stdd">
               
          <label for="applicationNo" class="lbl">Application No:</label>
          <input type="text" class="stdd w150" formControlName="applicationNo" >
          <div class="pull-right">
               <button class="btn btn-default fa fa-undo" type="button" (click)="cancel()"></button>
               <button [disabled]="!registerForm.valid" title="Update" 
                    class="btn btn-success me-2 fa fa-save " type="submit"></button>
          </div>
               
          <br> <label style="margin-left: 10px; width: 55px; display: inline-block; margin-top: 5px; font-size: small; font-weight: bold;"
               >Gender: </label>
               <input type="radio" style="display: inline-block; width: 20px;" 
                    class="form-check-input inputcheck" value="m" formControlName="gender">
               <label style="display: inline-block; width:50px;" >male</label>
               <input type="radio" style="display: inline-block; width: 20px;" 
                    value="f" formControlName="gender">
               <label class="lbl w50">female</label>
     
                    <label class="lbls" style="margin-left: 10px;">User Type:</label>
                         <input type="radio" style="display: inline-block; width: 20px;" 
                         class="form-check-input inputcheck" value="candidate" formControlName="userType">
                    <div style="display: inline-block; width: 75px; font-size: small;" >candidate</div>
                         <input type="radio" class="form-check-input inputcheck" 
                              value="official" formControlName="userType">
                    <div  style="display: inline-block; width: 50px; font-size: small;" >Official</div>
                         <input type="radio" class="form-check-input inputcheck" value="employee" formControlName="userType">
                    <div  style="display: inline-block; width: 50px; font-size: small;" >Employee</div>
               
               <br> <label for="firstName" class="lbl">First Name</label>
                    <input type="text" class="stdd w150" formControlName="firstName">
                    <label for="secondName" class="lbl">Second Name</label>
                    <input type="text" class="stdd w150" formControlName="secondName">
                    
               <br><label for="familyName" class="lbl">Family Name</label>
                    <input type="text" class="stdd w150" formControlName="familyName">
                    <label for="knownAs" class="lbl">Known As</label>
                    <input type="text" class="stdd w100" formControlName="knownAs">
                     
               <br><label for="knownAs" class="lbl">Date of Birth</label>
                    <input type="text" class="stdd w150"
                         placeholder="Date of birth"
                         formControlName="dOB"
                         bsDatepicker
                         [bsValue]="bsValueDate"
                         [bsConfig]="{dateInputFormat: 'YYYY-MM-DD' }"
                    >    
                    <label for="placeOfBirth" class="lbl">Place of Birth</label>
                    <input type="text" class="stdd w150" formControlName="placeOfBirth">
                    

                    <div *ngIf="!agents">
                         <label for="referredBy" class="lbl">Referred By</label>
                         <ng-select   class="stdd w150"
                              [items]="agents" 
                              [searchable]=true 
                              bindLabel = "name"
                              bindValue = "id"
                              formControlName="referredBy"
                              (change)="getAgentValue($event)"
                              >
                         </ng-select>
                    </div>
               
               <br>
                    <label for="aadharNo" class="lbl">Aadhar No</label>
                    <input type="text" class="stdd w150" formControlName="aadharNo">

                    <label for="ppNo" class="lblS" style="margin-left: 5px;">PP No</label>
                    <input type="text" class="stdd w100" formControlName="ppNo">
                    
                    <label class="lbl" style="margin-left: 10px;">Emig Clearance: </label>
                    <input type="radio" class="form-check-input inputcheck" style="margin-left: 10px;" value="ecnr" formControlName="ecnr">
                    <label style="display: inline-block; width: 45px; margin-left: 5px;" >ECNR</label>
                    <input type="radio" class="form-check-input inputcheck" value="ecr" formControlName="ecnr">
                    <label style="display: inline-block; width: 45px; margin-left: 5px;" >ECR</label>e
               <br>
                    <label for="address" class="lbl">Address</label>
                    <input type="text" style="display: inline-block; width: 500px; margin-top: 5px;" formControlName="address">
               <br>    
                    <label for="city" class="lbl">City</label>
                    <input type="text" class="stdd w150" formControlName="city">
                    <label for="pin" style="margin-left: 5px; display: inline-block; width: 40px; font-weight: bold; font-size: small;">PIN</label>
                    <input type="text" style="display: inline-block; margin-top:5px; margin-left: 5px; width: 75px;" formControlName="pin">
                    <label for="district" style="display: inline-block; margin-left: 5px; width: 75px; font-weight: bold; font-size: small;"
                         >District</label>
                    <input type="text" class="stdd w125" formControlName="district">
                    
               <br> <label for="email"  class="lbl">Email</label>
                    <input type="text" class="w300" formControlName="email">
               
                     <div *ngIf="!candidate" style="margin-bottom: 10px;">
                         <label for="password" class="lbl">Password</label>
                         <input type="password" class="stdd w150" id="password" #password formControlName="password">
                         <label for="password" 
                              style="display: inline-block; font-weight: bold; font-size: small; width: 150px; margin-left: 5px;" 
                              >Confirm Password</label>
                         <input type="password" style="display: inline-block; margin-left: 5px; width: 150px; font-weight: bold; font-size: small;" class="stdd w150" formControlName="password">
                     </div> 
     </div>
          
          <div class="stdd col-5">
               <tabset class="member-tabset" #memberTabs>
                    <tab heading='Professions' (selectTab)="onTabActivated($event)">
                         <div formArrayName="userProfessions" style="height: 10px;font-size: small;" class="my-1 px-0">
                              <div style="width: 50px; display: inline-block;">Sr No</div>
                              <div style="width: 300px; display: inline-block;">Category</div>
                              <div style="width: 50px; margin-left: 10px; display: inline-block;">Is Main</div>
                              <button type="button" (click)="addUserProfession()" class="my-1 fa fa-plus" style="color: blue;"></button>
                              <div *ngFor="let p of userProfessions.controls; let i=index">
                                   <div [formGroupName]="i"> 
                                        <div style="width: 50px; display: inline-block;">{{i+1}}</div>
                                        <ng-select   
                                             class="stdd w300 py-0 my-0"
                                             [items]="professions" 
                                             [searchable]=true 
                                             bindLabel = "name"
                                             bindValue = "id"
                                             formControlName="categoryId"
                                             (change)="getProfessionValue($event)"
                                             >
                                        </ng-select>
                                        <input type="checkbox" formControlName="isMain" style="width: 50px; margin-left: 30; display: inline-block;"  >
                                        <button (click)="removeUserProfession(i)" style="margin-left: 20px;" class="fa fa-trash" style="color:red; display: inline-block;"></button>
                                   </div>
                              </div>
                         </div>
                    </tab>
                    <tab heading='Phones' (selectTab)="onTabActivated($event)">
                         <div formArrayName="userPhones" style="height: 10px;font-size: small;" class="my-1 px-0">
                              <div class="stdd col-1">Sr No</div>
                              <div class="stdd col-4">Phone</div>
                              <div class="stdd col-2">Is Main</div>
                              <button type="button" (click)="addPhone()" class="stdd my-1 fa fa-plus" style="color: blue;"></button>
                              
                              <div *ngFor="let p of userPhones.controls; let i=index">
                                   <div [formGroupName]="i"> 
                                        <div class="stdd col-1">{{i+1}}</div>
                                        <div class="stdd col-4">
                                             <app-text-input [label]="'Mobile No'" formControlName="mobileNo" ></app-text-input>
                                        </div>
                                        <div class="stdd col-2">
                                             <input type="checkbox" formControlName="isMain" style="width: 50px; margin-left: 30; display: inline-block;" >
                                        </div>
                                        <div class="stdd col-2">
                                             <button (click)="removeUserPhone(i)" style="margin-left: 20px;" class="fa fa-trash" style="color:red; display: inline-block;"></button>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </tab>
                    <tab heading='Qualifications' (selectTab)="onTabActivated($event)">
                         <div formArrayName="userQualifications" style="height: 10px;font-size: small;" class="my-1 px-0">
                              <div style="width: 50px; display: inline-block;">Sr No</div>
                              <div style="width: 300px; display: inline-block;">Qualification</div>
                              <div style="width: 50px; margin-left: 10px; display: inline-block;">Is Main</div>
                              <button type="button" (click)="addQualification()" class="my-1 fa fa-plus" style="color: blue;"></button>
                              <div *ngFor="let p of userQualifications.controls; let j=index">
                                   <div [formGroupName]="j"> 
                                        <div style="width: 50px; display: inline-block;">{{j+1}}</div>
                                        <ng-select   
                                             class="stdd w300 py-0 my-0"
                                             [items]="qualifications" 
                                             [searchable]=true 
                                             bindLabel = "name"
                                             bindValue = "id"
                                             formControlName="qualificationId"
                                             (change)="getValues($event)"
                                             >
                                        </ng-select>
                                        <input type="checkbox" formControlName="isMain" style="width: 50px; margin-left: 30; display: inline-block;"  >
                                        <button (click)="removeUserQualification(j)" style="margin-left: 20px;" class="fa fa-trash" style="color:red; display: inline-block;"></button>
                                   </div>
                              </div>
                         </div>
                    </tab>
                    <tab heading='Experience' (selectTab)="onTabActivated($event)">
                         <div formArrayName="userExperiences" style="height: 10px;font-size: small;" class="my-1 px-0">
                              <button type="button" (click)="addUserExp()" class="my-1 fa fa-plus" style="color: blue;"></button>
                              <div *ngFor="let p of userExperiences.controls; let i=index">
                                   <div [formGroupName]="i"> 
                                        <div class="stdd w100">
                                             <app-text-input [label]="'Sr No'" formControlName="srNo" ></app-text-input>
                                        </div>
                                        <div class="stdd w300">
                                             <app-text-input [label]="'Position'" formControlName="position" ></app-text-input>
                                        </div>
                                        <div class="stdd w400">
                                             <app-text-input [label]="'Company'" formControlName="company" ></app-text-input>
                                        </div>
                                        <div class="stdd w150">
                                             <app-date-input [maxDate]="maxDate" [label]="'Worked From'" formControlName="workedFrom" ></app-date-input>
                                        </div>
                                        <div class="stdd w150">
                                             <app-date-input [maxDate]="maxDate" [label]="'Worked Upto'" formControlName="workedUpto" ></app-date-input>
                                        </div>
                                        <button (click)="removeUserExp(i)" style="margin-left: 20px;" class="fa fa-trash" style="color:red; display: inline-block;"></button>
                                        </div>
                              </div>
                         </div>
                    </tab>
                    <tab heading='Attachments' (selectTab)="onTabActivated($event)">
                         <div class="stdd col-8" >File to upload</div>
                         <div class="stdd col-3">Type</div>
                         <button class="stdd pull-right fa fa-plus" type="button" (click)="addUserAttachment()" ></button>
                         <div formArrayName="userAttachments" style="height: 12px;" >
                              <div class="stdd" style="font-size: x-small;">
                                   <input class="stdd" type="file" id="file" 
                                   (change)="onFileInputChange($event)"
                                   >
                              </div>
                              <div *ngFor="let ph of userAttachments.controls; let j=index"> 
                                   <div [formGroupName]="j">

                                        <br>
                                        <div class="stdd col-8">
                                             <app-text-input [label]="'File Name'" formControlName="fileName" ></app-text-input>
                                        </div>
                                        
                                        <div class="stdd col-2">
                                             <app-text-input [label]="'File Type'" formControlName="attachmentType" ></app-text-input>
                                        </div>
                                        
                                        <button (click)="removeUserAttachment(j)" class="stdd red fa fa-trash"></button>
                                        <button (click)="download(j)" class="stdd red fa fa-download"></button>
                                   </div>
                              </div>
                         </div>
                    </tab>
               
               </tabset>
          </div>
   
      <div class="row" *ngIf="validationErrors">
         <ul class="text-danger">
             <li *ngFor="let error of validationErrors">
                 {{error}}
             </li>
         </ul>
     </div>
 
 </form>
 
     <div style="font-size: smaller;">
          {{registerForm.value | json}}
      </div>
 