<br><br><br>
<div class="container d-flex justify-contents-between align-items-center" >
    <button class="stdd w150 mx-2" title="Standard assessment questions" routerLink="/hr/stddqs">Standard Assessment<br>Questions</button>
    <button class="stdd w100 mx-2" title="Assessment Questions from Question Bank" routerLink="/hr/qs" >Question Bank</button>
    <button class="stdd w100 mx-2 " title="candidate check lists">Candidate <br>check lists</button>
    <button class="stdd w150 mx-2 ">Assessment Questions<br>for Order Items</button>
    <button class="stdd w150 mx-2" title="forward shortlisted CVs to clients" routerLink="/hr/cvforward" >Forward shortlisted<br>CVs to clients</button>
    <!-- <button class="stdd w150 mx-2" title="test hr form arrays" routerLink="/orders/teachers" >test formArray</button> -->
    <button class="stdd w100 mx-2" title="Interviews" routerLink="/interviews/list" >interviews</button>
    <button class="stdd w75 mx-2 fa fa-home fa-2x" routerLink=""></button>
</div>