<div>
    Customers, Vendors and Associates
</div>
<div class="container d-flex justify-contents-between align-items-center mt-5">
    
    <button class="stdd" routerLink="/masters/customerlist/customer" title="Client list">Client List</button>
    <button class="stdd" routerLink="/masters/customerlist/associate" title="Associate List">Associate List</button>
    <button class="stdd" routerLink="/masters/customerlist/vendor" title="Vendor List">Vendor List</button>
    <button class="stdd" routerLink="/masters/categories" title="Category list">Category List</button>
    <button class="stdd" routerLink="/masters/qualifications" title="Qualification list">Qualification List</button>
    <button class="stdd" routerLink="/masters/industryTypes" title="Industry Types">Industry Types</button>
    
    <button class="stdd fa fa-home" routerLink="/admin" title="return to home"></button>
</div>