<div *ngIf="user !== null">
    User: {{user?.displayName}}
</div>

<div *ngIf="emp !== undefined">
    <label for="orderNo" class="stdd w100 b"></label> 
        <div class="stdd w75" >{{emp.orderNo}}</div>
    <label for="customerName" class="stdd w100 ml-5 b"></label> 
        <div class="stdd w150">{{emp.customerName}}</div>
    <br>
    <label for="applicationNo" class="stdd w100 b"></label> 
        <div class="stdd w75" >{{emp.applicationNo}}</div>
    <label for="candidateName" class="stdd w100 ml-5 b"></label> 
        <div class="stdd w150" >{{emp.candidateName}}</div>
    <label for="categoryName" class="stdd w100 ml-5 b"></label> 
        <div class="stdd w150" >{{emp.categoryName}}</div>
    <br> <label for="selectedOn" class="stdd w100 b">Selected On:</label> 
    <input class="stdd w150"
        type="text"
        placeholder="Date"
        formControlName="selectedOn"
        bsDatepicker
        [bsValue]="bsValueDate"
        [bsConfig]="{dateInputFormat: 'YYYY-MM-DD' }"
    >
    <br><br>
    <button class="pull-right bordernone fa fa-close" title="Close" (click)="close()" ></button>

    <label  class="stdd w150 b">Remuneration</label> 
    <br>
    <label class="stdd w150 b">Salary Currency</label> 
        <input type="text" class="stdd w100 ml-10" title="salary currency" formControlName="salaryCurrency">
    <label class="stdd w150 b">Salary</label> 
        <input type="text" class="stdd 100" title="salary currency" formControlName="salary">
    
    <br><br>
    <label class="stdd w150 b">Perks</label> 
    <label class="stdd w150 b">Provided<br>Free</label> 
    <label class="stdd w150 b">Allowance</label> 
    
    <label for="housingAllowance" class="stdd w150" >Housing</label>
    <input type="checkbox"
        style="margin-left: 25px;"
        class="form-check-input stdd hAlignCenter"
        formControlName="housingProvidedFree"
    >
    <input type="text" class="stdd 100" style="margin-left: 20px;" title="housing allowance" formControlName="housingAllowance">

    <br><label for="housingAllowance" class="stdd w150" >Transportation</label>
    <input type="checkbox"
        style="margin-left: 25px;"
        class="form-check-input stdd hAlignCenter"
        formControlName="transportProvidedFree"
    >
    <input type="text" class="stdd 100" style="margin-left: 20px;" title="housing allowance" formControlName="transportAllowance">
    <br><label for="otherAllowance" class="stdd w150" >Transportation</label>
    <input type="text" class="stdd 100" style="margin-left: 300px;" title="housing allowance" formControlName="otherAllowance">

    <div class="mx-1" style="display: inline-block; width: 200px;">
         <button class="w35 bordernone fa fa-pencil" style="margin-left: 50x;"
            title="edit emp data"    (click)="updateEmployment()" ></button>
    </div>
</div>